<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>operator INFO</title>
</head>
<body>
<form action="{{ url_for('insert_operator') }}" method="post">
    employee id <br>
    <input type="text" name="POID"> <br><br>
    operator id <br>
    <input type="number" name="opid"> <br>
    hourWork <br>
    <input type="number" name="hour_work"> <br>
    password <br>
    <input type="password" name="pass"> <br>

    <input type="submit" name="submit">

</form>

</body>
</html>