<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>carrier info</title>
</head>
<body>
<form action="{{ url_for('get_insert_carrier') }}" method="post">
    PID <br>
    <input type="text" name="PID" id=""> <br> <br>
    license number <br>
    <input type="number" name="lnumber">

    <input type="submit" name="submit">
</form>
</body>
</html>