<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<table>
    {% for foo in th %}


        <tr>
            <th>{{ foo }}</th>
        </tr>
    {% endfor %}
    {% for d in data %}
        <tr>
            <td>
                {{ d['full_name'] }}
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>